* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-size: 1.3rem;
  line-height: 1.6;
  color: #222C2A;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
  line-height: 1.1;
  font-weight: 900;
  font-family: 'Playfair Display', serif;
}

/* Layout */
.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1128px;

  padding: 5em 0;
}
/* Header Section */
header {
  background-color: #F3EED9;
  
}

.header__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 660px;
  justify-content: center;
}

.header__title--h1 {
  color: #824936;
  font-size: 3.75rem;
  font-family: 'Playfair Display', serif;
}

.header__title--h6 {
  font-weight: 400;
  letter-spacing: 10px;
  font-size: 1.125rem;
  color: #222C2A;
  margin-bottom: 1rem;
}

/* Features Section */
.features {
 width: 80%;
}

.features__title--h1 {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  color: #824936;
}

.features__text {
  display: flex;
  gap: 10px;
}

/* Main Section */
.main__content {
  display: flex;
  gap: 40px;
}

.main__content--first {
  background-color: #222C2A;
}

.main__content--second {
  background-color: #824936;
}

.main__text {
  color: #F3EED9;
}

.main__text--h1 {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
}

.main__text--p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 21px;
}

.col {
  width: 100%;
}

@media (max-width: 800px) {
  .features__text {
    flex-direction: column;
    text-align: center;
  }

  .main__content {
    flex-direction: column;
  }
  
  .header__title--h1{
    font-size: 3rem;
  }
  
}